<div class="sidebar">
    <div class="template-list">
        <h3>Writing Templates</h3>
        <div class="template-item active">
            <i class="fas fa-pen"></i>
            <span>Blog Article</span>
        </div>
        <div class="template-item">
            <i class="fas fa-newspaper"></i>
            <span>Article Rewriter</span>
        </div>
        <div class="template-item">
            <i class="fas fa-graduation-cap"></i>
            <span>Academic Writing</span>
        </div>
        <div class="template-item">
            <i class="fas fa-envelope"></i>
            <span>Email Writer</span>
        </div>
        <div class="template-item">
            <i class="fas fa-ad"></i>
            <span>Ad Copy</span>
        </div>
    </div>
</div>